.col-half {
  border: 2px solid black;
  height:50%;
  width:90%;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 15px;
  /* background-color: lightgray;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  opacity: 0.85; */
}


.display-info {

}

.team-container h4 {
  text-align: center;


}

.display-info {
  margin-top: 20px;
  /* border:2px solid red; */
  height:30%;
  width:90%;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  font-family: "Hind";

}

.radio-group {
  margin-left: 10px;
  font-family: "Hind";
  /* border: 2px solid black; */
  height:50%;
  width:90%;
  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 15px;
  margin-top: 15px;
  background-color: lightgray;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
}
/*
.team-container p {

  line-height: 1.4;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-family: "Hind";
} */

/* select {
  height: 3.4em;
  line-height: 2;
  font-family: "Hind";
}
select:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
select:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
select:focus,
select:active {
  outline: 0;
}

select option {
  background-color: #4e6590;
  color: green;
  font-family: "Hind";
} */
