#post-div {
	width : 95%;
	height: 420px;
	overflow-y:auto;
	float: left;
	margin : 10px;
	border: 1px solid lightblue;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 0 4px 4px -5px black;
}

#post-div img {
	margin-right: 10px;
	border-radius: 100% 100% 100% 100%;
	width: 50px; height: 50px;
	border-bottom: 0.3px solid grey;
	
}
.image-back {
	width: 90%;
	margin-top: 8px;
	margin-left: 10px;
	margin-bottom: 8px;
	margin-left: 10px;
	background-color: lightblue;
	border-radius: 10px 10px 10px 10px;
}
.image-back img {
	margin-left: 25%;
	width: 100px !important;
	height: 100px !important;
	/*margin-right: 10px;*/
	border-radius: 100% 100% 100% 100%;

}


#post-form {
	margin-bottom: 65px !important;
}
#post-form button {
	width: 120px !important;
	margin-left: 10px;
}
#post-form textarea {
	height: 70px !important;
	width: 95%;
	margin-left: 10px;
}
.input {
	width: 95% !important;
	margin-left: 10px !important;
	height: 20px;
}

#post-div p {
	width: 90%;
	margin-top: 8px;
	margin-left: 10px;
	margin-bottom: 8px;
	box-shadow: 0 4px 4px -5px black;
	padding: 5px;
	height: auto;
	font-size: 15px;
	font-weight: bold;
	border-radius: 10px 10px 10px 10px;
	border-bottom: 0.3px solid grey;
	background-color: lightblue;
}


.clearfix {
  overflow: auto;
}

.footer_icon {
	padding: 3px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	width: 20%;
	text-align: center;
	height: 100%;
}

.footer {
 	margin: auto;
	width: 100%;
	/*padding: 2px;*/
	height: 70px;
	position: fixed;
	bottom:0;
	text-align: center;
	margin-bottom: 0;
	font-size: 9px;
	/*color: white !important;*/
}
.news_box {
	width: 93%;
	margin: 8px;
	box-shadow: 0 4px 4px -5px black;
	padding: 5px;
	height: auto;
	font-size: 12px;
	font-weight: bold;
	border-radius: 10px 10px 10px 10px;
	border-bottom: 0.3px solid grey;
}
.news_container {
	width: 100%;
	margin: 2px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 4px 4px -5px blue;
	padding-bottom: 8px;
	margin-top: 5px;
	margin-bottom: 6px;
}
.ptable table{
	margin: 15px auto;
	border-collapse: collapse;
}

.ptable{
	margin: 0px 0% 10px 0%;
}

th, td {
    padding: 10px;
}

th{
	background-color: black;
	color: #ffe221;
	/*color: white;*/
}

.wpos{
	text-align: center;
	background-color: grey;
}

.wpos td{
	/*color: #77ff21;*/
	color: white;
	/*font-weight: bold;*/
}

.pos{
	text-align: center;
	background-color: grey;
}

.pos td{
	/*color: #ff7b21;*/
	color: red;
	/*font-weight: bold;*/
}

table .col{
	border-bottom: 1px solid #FFFFFF;
}
.wpos:hover{
	background-color: #77ff21;
} 

 .wpos:hover td{
	color: #000000;
}

.pos:hover{
	background-color: #ff7b21;
}

.pos:hover td{
	color: #000000;
}
.fixture {
	border-radius: 10px 10px 10px 10px;
	border: 0.5px solid grey;
	height: 54px;
	width: 80%;
	margin-top: 5px;
	margin-right: 10%;
	margin-left: 10%;
	margin-bottom: 15px;
	padding: 5px;
	/*float: left !important;*/
}
.fixture p {
	text-align: center;
	font-weight: 20px;
}
.time_style {
	/*width: 35px; 
	height: 30px; */
	background-color: grey;
	color: white; font-size: 10px;
	margin-left: 10px;
	padding: 2%;

}






/*Team Profile Page*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.columnprofile {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 736px) {
  .columnprofile {
    width: 50%;
    display: block;
  }
}

.imgsizing {
width: 100%;
height: 170px;

}

.cardprofile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.containerprofile {
  padding: 0 16px;
}

.containerprofile::after, .rowprofile::after {
  content: "";
  clear: both;
  display: table;
}

.titleprofile {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}