body {
  font-family: 'Hind' ;
}

.col-xs-6 {
  height:200px;
  background-color: lightgray;
  border-radius: 4.2px;
  box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
  /* background: linear-gradient(to right, #13547a , #80d0c7); */


}

.col-xs-6 img {
  height:100px;
  width:100px;
  border-radius: 50%;
  margin-left: 45px;
}


.col-xs-6 p {
  font-family: 'Hind' ;
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
  color: #384048;
}

.col-xs-6 .bestBold {
  font-weight: 500px;

}

input {
    font-family: 'Hind'
}
