.cls-1 {
  fill: #0b0;
  opacity: 0.7;
  isolation: isolate;
}

.cls-2 {
fill: none;
stroke: #efe;
stroke-width: 3px;
}

.cls-3 {
fill: #fff;
stroke: #000;
stroke-miterlimit: 10;
}

.cls-4 {
font-size: 22.99px;
font-family: MyriadPro-Regular, Myriad Pro;
}

.cls-5 {
font-size: 14px;
font-family: AvenirNext-Bold, Avenir Next;
font-weight: 700;
}

.cls-6 {
letter-spacing: -0.06em;
}

.cls-7 {
letter-spacing: -0.02em;
}